.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
    
  
  }

.card:hover{
    cursor: pointer;
}
  

  

  .tweet {
    /* border: 1px solid #e1e8ed; */
    border-radius: 10px;
    height: 100%;
    padding: 12px;
  }
  
  .tweet-header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
  
  
  .tweet-user {
    display: flex;
    flex-direction: column;
  }
  
  .user-name {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
  }
  
  .user-handle {
    font-size: 0.9rem;
    color: #9fbdd6;
    margin: 0;
  }
  
  .tweet-content {
    font-size: 1rem;
    margin-bottom: 12px;
  }
  
  .tweet-footer {
    border-top: 1px solid #e1e8ed;
    padding-top: 8px;
  }
  
  .tweet-date {
    font-size: 0.9rem;
    color: #c0e3ff;
    margin: 0;
  }
  

  
  

  
 
  .card {
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 100%;
    max-width: 350px;
    background-color: #5445FF;
  }
  
  .thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-details {
    padding: 15px;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .date {
    color: #d9d7d7;
    font-size: 14px;
    margin-top: 5px;
  }


  @media screen and (max-width: 720px){
    .card-container {
        grid-template-columns: 1fr; 
        padding: 10px;
      }

    .card {
        max-width: 90vw; 
      }
}